name: Snakemake dry-run

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v2
      - run: conda install -c conda-forge -c bioconda snakemake
      - run: snakemake --use-conda --dry-run