name: Snakemake dry-run

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Setup Miniconda
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.10
          activate-base: true  # use the base environment

      # Install Snakemake
      - run: |
          conda config --set channel_priority strict
          conda install -c conda-forge -c bioconda snakemake mamba
        shell: bash -l {0}

      # Run dry-run
      - run: |
          snakemake --use-conda --dry-run
        shell: bash -l {0}
